<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner - 3C Shared Services</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>

    <div class="container body-content">
        @RenderBody()       
    </div>
    <footer class="container navbar-fixed-bottom">
        <div class="row">
            <p class="pull-left">&copy; @DateTime.Now.Year - Developed by 3C Digital Team</p>
            <img src="https://applications.huntingdonshire.gov.uk/3CLogo.png" class="pull-right spacing" alt="3C Shared Services Logo" height="52" width="160">
        </div>
    </footer>

</body>
</html>
